@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-color: #e91e63; /* Rosa escuro */
    --secondary-color: #fce4ec; /* Rosa claro */
    --text-color: #333; /* Cor do texto */
    --card-bg-color: white; /* Fundo dos cartões */
    --card-shadow: rgba(0, 0, 0, 0.2); /* Sombra dos cartões */

    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
}

* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0; /* Corrigido de 'auto' para '0' */
    box-sizing: border-box;
    letter-spacing: 1px;
}

html{
    min-height: 500vh;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
    background: transparent;
    box-shadow: none;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*cards*/
.destaques-titulo {
    color: var(--primary-color);
    font-size: 2em;
    text-align: center;
    margin: 20px 0;
}

.cards {
    gap: 20px;
}

.card {
    background-color: var(--card-bg-color);
    color: var(--text-color);
    box-shadow: 0 4px 8px var(--card-shadow);
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 300px;
    text-align: center;
    transition: transform 0.3s ease;
}

.card h3 {
    margin-bottom: 10px;
    color: var(--primary-color);
}

.card p {
    font-size: 1em;
    color: var(--text-color);
}

.card:hover {
    transform: translateY(-5px);
}

.card-text {
    background-color: var(--card-bg-color);
    color: var(--text-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--card-shadow);
    width: 50%;
    max-width: 400px;
    font-size: 1em;
    line-height: 1.6;
}


/* Intro*/

.intro {
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 20px;
    margin-top: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--card-shadow);
    text-align: center;
}

.intro h2 {
    color: var(--primary-color);
    font-size: 1.8em;
    margin-bottom: 10px;
}

.intro p {
    font-size: 1em;
    color: var(--text-color);
    line-height: 1.6;
}

.image-card-section {
    margin-top: 40px;
    gap: 20px;
}

.intro-image {
    width: 50%;
    max-width: 600px;
    border-radius: 8px;
}


/* Footer */
footer {
    position: fixed;
    bottom: -100px; /* Fora da tela no início */
    padding: 60px 4%;
    width: 100%;
    transition: bottom 0.5s;
    color: var(--color-neutral-40);
}

footer.ShowFooter {
    background-color: #e91e63;
    padding: 20px 4%;
    bottom: 0;
    opacity: 1;
}

#footer_content{
    display: flex;
    padding: 60px 4%;
    opacity: 0;
    transition: opacity 0.4s;

}

footer.ShowFooter #footer_content{
    opacity: 1;
}

