@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import '../src/components/global/themes.css';


body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    place-items: center;
    min-height: 100vh;
    color: var(--text-highlight);
    background-color: var(--background-primary);
    overflow-x: hidden;
}

.main-content {
    width: 100%;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: auto;
    width: 100%;
    box-sizing: border-box;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}