/* Animação de Aparecer */
.fade-in {
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Animação de Desaparecer */
.fade-out {
  animation: fadeOut 0.5s ease-in-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Modal | Wrapper */
.wrapper-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centraliza o modal */
  backdrop-filter: blur(20px);
  z-index: 1000;
  transition: transform 0.2s ease;
  display: flex; /* Garante alinhamento */
  justify-content: center; /* Alinha horizontalmente */
  align-items: center; /* Alinha verticalmente */
  width: 100vw; /* Ocupa a largura total */
  height: 100vh; /* Ocupa a altura total */
}

/* Wrapper principal do modal */
.wrapper {
  width: 500px;
  height: 500px;
  background: linear-gradient(60deg, var(--darkcolor), var(--blueshadow));
  border: 2px solid var(--darkcolor);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px var(--shadow-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: scale(1); /* Sem alterar a posição */
  transition: transform 0.2s ease;
  z-index: 200;
}

/* Animação para o modal ativo */
.wrapper.active {
  height: 510px;
}

/* Formulário dentro do modal */
.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

/* Animação para o formulário de login */
.wrapper .form-box.login {
  transition: transform 0.18s ease;
  transform: translateX(0);
}

.wrapper.active .form-box.login {
  transform: translateX(-400px);
}

/* Animação para o formulário de registro */
.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.wrapper.active .form-box.register {
  transition: transform 0.18s ease;
  transform: translateX(0);
}

/* Ícone de fechar o modal */
.wrapper .icon-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2em;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--darkcolor);
  cursor: pointer;
  border-bottom-left-radius: 20px;
  z-index: 1;
}

/* Estilo do título do formulário */
.form-box h2 {
  color: var(--whitecolor);
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

/* Estilos para os campos de entrada */
.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid var(--whitecolor);
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: var(--whitecolor);
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
  color: var(--whitecolor);
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: var(--whitecolor);
  font-weight: 600;
  padding: 0 35px 0 10px;
}

.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: var(--whitecolor);
  line-height: 57px;
}

/* Estilos para "lembrar-se" e "esqueci a senha" */
.remember-forgot {
  font-size: 0.9em;
  color: var(--whitecolor);
  font-weight: 500;
  margin: -15px 0 20px 0;
  display: flex;
  align-items: center; /* Centraliza os itens verticalmente */
  justify-content: space-between;
}

.remember-forgot label {
  display: flex;
  align-items: center; /* Alinha o checkbox e o texto */
}

.remember-forgot label input {
  width: auto; /* Define o tamanho padrão do checkbox */
  height: auto; /* Garante que a altura também seja adequada */
  accent-color: var(--whitecolor);
  margin-right: 8px; /* Espaçamento entre o checkbox e o texto */
  cursor: pointer;
}

.remember-forgot a {
  color: var(--whitecolor);
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

/* Botão de ação (entrar/cadastrar) */
.btn {
  width: 100%;
  height: 50px;
  background: var(--whitecolor);
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: var(--whitecolor);
  font-weight: 500;
}

/* Link de troca entre login e cadastro */
.login-register {
  font-size: 0.9em;
  color: var(--whitecolor);
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a {
  color: var(--whitecolor);
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover {
  text-decoration: underline;
}

#btn-modalLogin{
  color: var(--blueshadow);
}

#btn-entrar{
  background-color: var(--blueshadow);
  color: rgb(255, 255, 255);
  padding: 10px 0;
  width: 100%;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#btn-entrar:hover{
  background-color: var(--darkcolor);
}