/* Pratica.css */

/* ============================== */
/* Reset e Importações             */
/* ============================== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import '../../components/global/themes.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ============================== */
/* Container Prática              */
/* ============================== */
.container-pratica {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Altura total da viewport */
  background-color: var(--whitecolor);
  padding: 20px;
  width: 100%; /* Garantir que o contêiner ocupe toda a largura */
}

/* ============================== */
/* Contêiner Principal            */
/* ============================== */
.pratica {
  display: flex;
  flex-direction: column; /* Alinhar os elementos verticalmente */
  align-items: center; /* Centralizar os elementos */
  width: 100%;
  max-width: 1200px; /* Limitar a largura máxima */
  background-color: var(--whitecolor);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  gap: 40px; /* Espaçamento entre os contêineres */
}

/* ============================== */
/* Container Info Status          */
/* ============================== */
.container-info-status {
  display: flex;
  flex-direction: column; /* Alinhar os elementos verticalmente */
  align-items: center; /* Centralizar os elementos */
  gap: 40px; /* Espaçamento entre os contêineres */
  width: 100%; /* Garantir que o contêiner ocupe toda a largura */
  max-width: 800px; /* Limitar a largura máxima */
}

/* ============================== */
/* Container Progresso            */
/* ============================== */
.container-progress {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centralizar o conteúdo */
  gap: 12px;
  width: 100%;
  max-width: 400px; /* Limitar a largura máxima */
  box-sizing: border-box;
  background: linear-gradient(135deg, var(--bluecolor), var(--darkcolor));
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.container-progress:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.progress-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  color: var(--whitecolor);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.progress-bar {
  height: 18px;
  width: 100%;
  max-width: 300px;
  background-color: var(--lightbluecolor);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.progress-bar .progress {
  height: 100%;
  background-color: var(--bluecolor);
  border-radius: 10px 0 0 10px;
  transition: width 0.4s ease;
}

.progress-percentage {
  font-size: 14px;
  color: var(--whitecolor);
  margin-top: 6px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

/* ============================== */
/* Container Testes               */
/* ============================== */
.container-test {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background: linear-gradient(135deg, var(--bluecolor), var(--darkcolor));
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  max-width: 400px; /* Diminuir o tamanho do contêiner de teste */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.container-test:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.test-title {
  font-size: 18px;
  font-weight: bold;
  color: var(--whitecolor);
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.test-info {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darkcolor);
  color: var(--whitecolor);
  font-size: 16px;
  font-weight: bold;
  padding: 10px 14px;
  border-radius: 8px;
  width: fit-content;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.test-info:hover {
  background-color: var(--whitecolor);
  color: var(--darkcolor);
  transform: translateY(-3px);
}

/* ============================== */
/* Estilizando o Card de Habilidade */
/* ============================== */
.card-habilidade {
  width: 200px;
  height: 250px;
  background: linear-gradient(135deg, var(--bluecolor), var(--darkcolor));
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  font-size: 30px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--whitecolor);
  transition: transform 0.3s ease-in-out;
}

.card-habilidade:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.card-habilidade p {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

/* ============================== */
/* Container Info Status 2        */
/* ============================== */
.container-info-status2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px; /* Espaçamento entre os contêineres */
  width: 100%; /* Garantir que o contêiner ocupe toda a largura */
  max-width: 800px; /* Limitar a largura máxima */
}

/* ============================== */
/* Container Habilidade e Atividades */
/* ============================== */
.container-habilidade,
.container-atividades {
  width: 100%;
  height: 250px;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  background: linear-gradient(135deg, var(--bluecolor), var(--darkcolor));
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.container-habilidade {
  margin-bottom: 20px;
}

.container-habilidade:hover,
.container-atividades:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}

.container-habilidade::-webkit-scrollbar,
.container-atividades::-webkit-scrollbar {
  width: 8px;
}

.container-habilidade::-webkit-scrollbar-thumb,
.container-atividades::-webkit-scrollbar-thumb {
  background-color: var(--darkcolor);
  border-radius: 8px;
}

.container-habilidade::-webkit-scrollbar-track,
.container-atividades::-webkit-scrollbar-track {
  background-color: var(--bluecolor);
}

.descricao-habilidade {
  color: var(--whitecolor); /* Ajustar a cor do texto */
  font-family: 'Poppins', sans-serif; /* Ajustar a fonte */
  font-size: 16px;
  padding: 10px; /* Adicionar padding */
}

h4 {
  font-size: 20px;
  font-weight: bold;
  color: var(--whitecolor);
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.atividades-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.atividade-item {
  padding: 12px 20px;
  border: none;
  background-color: var(--darkcolor);
  color: var(--whitecolor);
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.atividade-item:hover {
  background-color: var(--whitecolor);
  color: var(--darkcolor);
  transform: scale(1.05);
}

.atividades-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--whitecolor);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}