@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import '../../components/global/themes.css';

body {
  font-family: 'Poppins', sans-serif;
}

.container-Home {
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  gap: 20px;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  flex-direction: column;
  background-color: var(--bluecolor);
}

.welcome h1 {
  font-size: 5rem;
  color: var(--darkcolor);
  font-family: "Inter", sans-serif;
  animation: slide-in 1s ease-out;
}

#soft-h1 {
  color: var(--bluecolor);
  font-family: "Inter", sans-serif;
  animation: slide-in 1.5s ease-out;
  animation: repeat;
}

.welcome p {
  font-size: 1.5rem;
  color: var(--bluecolor);
  margin-top: 10px;
}

.destaques-titulo {
  color: var(--whitecolor);
  font-size: 2em;
  text-align: center;
}

.home-destaques-titulo {
  color: var(--whitecolor);
  font-size: 2em;
  text-align: center;
}

.home-cards {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
  gap: 20px;
  margin: 30px auto;
}

.home-card {
  width: 220px;
  height: 270px;
  background-image: linear-gradient(163deg, var(--whitecolor) 10%, var(--bluecolor) 50%);
  border-radius: 20px;
  box-shadow: 0px 4px 6px var(--blueshadow), 0px 1px 3px var(--blueshadow);
  transition: all 0.3s ease;
}

.home-card-content {
  width: 100%;
  height: 100%;
  background-color: var(--bluecolor);
  box-shadow: 0px 4px 6px var(--blueshadow), 0px 1px 3px var(--blueshadow);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  text-align: center;
  transition: all 0.2s ease;
}

.home-card-content p {
  line-height: 1.2;
}

.home-card-content:hover {
  transform: scale(1.05);
  border-radius: 20px;
}

.home-card-content h3 {
  margin-top: 15px;
  font-size: 1.2em;
  color: var(--whitecolor);
}

.home-card-content p {
  color: var(--whitecolor);
  font-size: 1em;
  margin-top: 10px;
  font-weight: 300;
}

.home-card-content i,
.home-card-content svg {
  color: var(--whitecolor); /* ou qualquer outra cor que você desejar */
}

.intro {
  background-color: transparent;
  backdrop-filter: blur(20px);
  box-shadow: 0px 4px 6px var(--shadow-dark), 0px 1px 3px var(--shadow-dark);
  background: var(--darkcolor);
  padding: 20px;
  margin: 40px auto; /* Centraliza horizontalmente */
  border-radius: 8px;
  text-align: center;
  width: 70%;
}

.intro h2 {
  color: var(--whitecolor);
  font-size: 1.8em;
  margin-bottom: 10px;
}

.container-Home .content,
.container-Home .content2 {
  opacity: 0;
  transform: translateX(100%);
  background-color: transparent;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  position: relative;
  z-index: 2;
}

.fadeInRight {
  animation: fadeInRight 1s forwards;
}

.fadeInLeft {
  animation: fadeInLeft 1s forwards;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.timeline {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}

.timeline-line {
  position: absolute;
  top: 0;
  left: 50%;
  width: 5px;
  height: 100%;
  background: transparent;
  border-radius: 5px;
  z-index: 2;
}

.timeline-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: linear-gradient(135deg, var(--bluecolor), var(--darkcolor));
  color: var(--whitecolor);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  animation: glowCircle 1.5s ease-in-out infinite;
  box-shadow: 0 0 10px var(--blueshadow), 0 0 20px var(--blueshadow);
}

@keyframes glowCircle {
  0% {
    box-shadow: 0 0 10px var(--blueshadow), 0 0 20px var(--blueshadow);
  }

  50% {
    box-shadow: 0 0 20px var(--blueshadow), 0 0 30px var(--blueshadow);
  }

  100% {
    box-shadow: 0 0 10px var(--blueshadow), 0 0 20px var(--blueshadow);
  }
}

.timeline-item {
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.timeline-content,
.timeline-content2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  background: var(--darkcolor);
  backdrop-filter: blur(20px);
  box-shadow: 0px 4px 6px var(--shadow-dark), 0px 1px 3px var(--shadow-dark);
  border-radius: 8px;
  z-index: 2;
  transition: transform 0.3s ease-in-out;
}

.timeline-content:hover {
  transform: scale(1.1);
  box-shadow: 0 12px 24px var(--shadow-dark);
  filter: brightness(1.1);
  transform: translateY(-5px);
  border-radius: 12px;
}

.timeline-content::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, var(--bluecolor), var(--darkcolor));
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  border-radius: 12px;
}

.timeline-content:hover::before {
  opacity: 1;
  transform: scale(1.05);
}

.timeline-content:hover img {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.timeline-text,
.timeline-text2 {
  width: 45%;
  color: var(--whitecolor);
  font-size: 1.1rem;
  line-height: 2;
  text-align: justify;
  padding: 15px;
  border-radius: 8px;
  z-index: 2;
  transition: transform 0.3s ease-in-out, color 0.3s ease;
}

.timeline-text p,
.timeline-text2 p {
  line-height: 1.2;
}

.timeline-content:hover .timeline-text,
.timeline-content:hover .timeline-text2 {
  color: var(--whitecolor);
}

.timeline-image {
  width: 45%;
}

.timeline-image img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

img[alt="Imagem 2"] {
  width: 450;
  height: auto;
  border-radius: 8px;
  object-fit: contain;
}

.cards-intro {
  margin-top: 80px;
  background-color: transparent;
  backdrop-filter: blur(20px);
  box-shadow: 0px 4px 6px var(--shadow-dark), 0px 1px 3px var(--shadow-dark);
  background: var(--darkcolor);
  padding: 20px;
  margin: 40px auto;
  border-radius: 8px;
  text-align: center;
  width: 70%;
}

.cards-intro h2 {
  color: var(--whitecolor);
  font-size: 1.8em;
}

.home-feedback {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 80px;
  background: linear-gradient(135deg, var(--darkcolor), var(--darkcolor));
  padding: 30px;
  margin: 80px auto 0;
  border-radius: 10px;
  box-shadow: 0 4px 15px var(--shadow-dark);
  width: 70%;
  text-align: center;
}

.home-feedback h2 {
  color: var(--whitecolor);
  font-size: 1.8em;
  margin-bottom: 10px;
}

.home-comments {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.home-comment {
  background: var(--whitecolor);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px var(--shadow-dark);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}

.home-comment:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px var(--shadow-dark);
}

.home-comment::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, var(--whitecolor), var(--whitecolor));
  border-radius: 8px 8px 0 0;
}

.home-comment::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 80%;
  height: 2px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  transform: translateX(-50%);
}

.home-comment p {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--darkcolor);
}

.home-comment strong {
  font-weight: bold;
  color: var(--darkcolor);
}

.home-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 30%;
  margin: 80px auto;
  margin-bottom: 200px;
  padding: 40px 20px;
  background: linear-gradient(135deg, var(--darkcolor), var(--darkcolor));
  border-radius: 12px;
  box-shadow: 0 4px 15px var(--shadow-dark);
  color: var(--whitecolor);
  text-align: center;
}

.home-cta h2 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  color: var(--whitecolor);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.btn-cta {
  padding: 15px 30px;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--whitecolor);
  background-color: var(--bluecolor);
  border: none;
  width: 60%;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px var(--shadow-dark);
}

.btn-cta:hover {
  background-color: var(--blueshadow);
  box-shadow: 0 6px 15px var(--shadow-dark);
  transform: translateY(-3px);
}

.btn-cta:active {
  transform: translateY(0);
  box-shadow: 0 3px 6px var(--shadow-dark);
}