@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import '../../components/global/themes.css';

body {
  font-family: 'Poppins', sans-serif;
}

.sobre-container {
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  gap: 20px;
}

.sobre-welcome {
  background-image: url('../../assets/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0px 4px 13px var(--shadow-dark), 0px 1px 4px var(--shadow-dark);
}

.sobre-welcome h1 {
  font-size: 4rem;
  color: var(--whitecolor);
  font-family: 'Poppins', SemiBold !important;
  font-weight: 800;
  animation: slide-in 1s ease-out;
}

.sobre-welcome p {
  font-size: 2rem;
  color: var(--whitecolor);
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400;
  animation: slide-in 1s ease-out;
  margin-bottom: 20px;
}

.sobre-welcome h1 span {
  color: var(--bluesecondary);
}

.sobre-intro {
  margin: 80px auto 30px auto;
  color: var(--darkcolor);
  text-align: center;
  width: 70%;
  font-family: 'Poppins', sans-serif;
}

.sobre-intro h2 {
  color: var(--darkcolor);
  font-size: 3em;
  font-family: 'Poppins', sans-serif;
}

.sobre-container .sobre-content,
.sobre-container .sobre-content2 {
  opacity: 0;
  transform: translateX(100%);
  background-color: transparent;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  position: relative;
  z-index: 2;
}

.fadeInRight {
  animation: fadeInRight 1s forwards;
}

.fadeInLeft {
  animation: fadeInLeft 1s forwards;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.sobre-timeline {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 150px;
}

.sobre-timeline-line {
  position: absolute;
  top: 0;
  left: 50%;
  width: 5px;
  height: 100%;
  background: transparent;
  border-radius: 5px;
  z-index: 2;
}

.sobre-timeline-image img {
  width: 10%; /* Ajuste a largura conforme necessário */
  max-width: 190px; /* Defina um valor máximo para a largura */
  border-radius: 8px;
  object-fit: cover;
}

.sobre-timeline-item {
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.sobre-timeline-content,
.sobre-timeline-content2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  height: 350px;
  padding: 20px;
  background: var(--darkcolor);
  backdrop-filter: blur(20px);
  box-shadow: 0px 4px 6px var(--shadow-dark), 0px 1px 3px var(--shadow-dark);
  border-radius: 8px;
  z-index: 2;
  transition: transform 0.3s ease-in-out;
  font-family: 'Poppins', sans-serif;
  overflow:hidden;
}

.sobre-timeline-content:hover {
  transform: scale(1.1);
  box-shadow: 0 12px 24px var(--shadow-dark);
  filter: brightness(1.1);
  transform: translateY(-5px);
  border-radius: 12px;
}

.sobre-timeline-content::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, var(--bluecolor), var(--darkcolor));
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  border-radius: 12px;
}

.sobre-timeline-content:hover::before {
  opacity: 1;
  transform: scale(1.05);
}

.sobre-timeline-content:hover img {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.sobre-timeline-text,
.sobre-timeline-text2 {
  width: 45%;
  color: var(--whitecolor);
  font-size: 1.1rem;
  line-height: 2;
  text-align: justify;
  padding: 15px;
  border-radius: 8px;
  z-index: 2;
  transition: transform 0.3s ease-in-out, color 0.3s ease;
  font-family: 'Poppins', sans-serif;
}

.sobre-timeline-text p,
.sobre-timeline-text2 p {
  line-height: 1.2;
  font-family: 'Poppins', sans-serif;
}

.sobre-timeline-content:hover .sobre-timeline-text,
.sobre-timeline-content:hover .sobre-timeline-text2 {
  color: var(--whitecolor);
}

.sobre-timeline-image {
  width: 60%;
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
}

.sobre-timeline-image img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

img[alt="Imagem 2"] {
  width: 450;
  height: auto;
  border-radius: 8px;
  object-fit: contain;
}



#sobreP {
  text-align: justify;
  font-size: 1.2rem;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  padding: 20px; 
  width: 100%; 
  max-width: 1200px; 
  margin: 20px auto; 
}