@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import '../../components/global/themes.css';

body {
  font-family: 'Poppins', sans-serif;
}

.container-Home {
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  gap: 20px;
}

.welcome {
  background-image: url('../../assets/imgs/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  box-shadow: 0px 4px 13px var(--shadow-dark), 0px 1px 4px var(--shadow-dark);
}

.welcome h1 {
  font-size: 4rem;
  color: var(--whitecolor);
  font-family: 'Poppins', SemiBold !important;
  font-weight: 800;
  animation: slide-in 1s ease-out;
}

.welcome p {
  font-size: 2rem;
  color: var(--whitecolor);
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400;
  animation: slide-in 1s ease-out;
  margin-bottom: 20px;
}

.welcome h1 span {
  color: var(--bluesecondary);
}

.intro {
  margin: 80px auto 30px auto;
  color: var(--darkcolor);
  text-align: center;
  width: 70%;
  font-family: 'Poppins', sans-serif;
}

.intro h2 {
  color: var(--darkcolor);
  font-size: 3em;
  font-family: 'Poppins', sans-serif;
}

.container-Home .content,
.container-Home .content2 {
  opacity: 0;
  transform: translateX(100%);
  background-color: transparent;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  position: relative;
  z-index: 2;
}

.fadeInRight {
  animation: fadeInRight 1s forwards;
}

.fadeInLeft {
  animation: fadeInLeft 1s forwards;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.timeline {
  position: relative;
  max-width: 900px;
  margin-bottom: 150px;
}

.timeline-line {
  position: absolute;
  top: 0;
  left: 50%;
  width: 5px;
  height: 100%;
  background: transparent;
  border-radius: 5px;
  z-index: 2;
}

.timeline-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  right: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: linear-gradient(135deg, var(--bluecolor), var(--darkcolor));
  color: var(--whitecolor);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  animation: glowCircle 1.5s ease-in-out infinite;
  box-shadow: 0 0 10px var(--blueshadow), 0 0 20px var(--blueshadow);
}

@keyframes glowCircle {
  0% {
    box-shadow: 0 0 10px var(--blueshadow), 0 0 20px var(--blueshadow);
  }

  50% {
    box-shadow: 0 0 20px var(--blueshadow), 0 0 30px var(--blueshadow);
  }

  100% {
    box-shadow: 0 0 10px var(--blueshadow), 0 0 20px var(--blueshadow);
  }
}

.timeline-item {
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.timeline-content,
.timeline-content2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  background: var(--darkcolor);
  backdrop-filter: blur(20px);
  box-shadow: 0px 4px 6px var(--shadow-dark), 0px 1px 3px var(--shadow-dark);
  border-radius: 8px;
  z-index: 2;
  transition: transform 0.3s ease-in-out;
  font-family: 'Poppins', sans-serif;
}

.timeline-content:hover {
  transform: scale(1.1);
  box-shadow: 0 12px 24px var(--shadow-dark);
  filter: brightness(1.1);
  transform: translateY(-5px);
  border-radius: 12px;
}

.timeline-content::before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg, var(--bluecolor), var(--darkcolor));
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  border-radius: 12px;
}

.timeline-content:hover::before {
  opacity: 1;
  transform: scale(1.05);
}

.timeline-content:hover img {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.timeline-text,
.timeline-text2 {
  width: 45%;
  color: var(--whitecolor);
  font-size: 1.1rem;
  line-height: 2;
  text-align: justify;
  padding: 15px;
  border-radius: 8px;
  z-index: 2;
  transition: transform 0.3s ease-in-out, color 0.3s ease;
  font-family: 'Poppins', sans-serif;
}

.timeline-text p,
.timeline-text2 p {
  line-height: 1.2;
  font-family: 'Poppins', sans-serif;
}

.timeline-content:hover .timeline-text,
.timeline-content:hover .timeline-text2 {
  color: var(--whitecolor);
}

.timeline-image {
  width: 45%;
}

.timeline-image img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}

img[alt="Imagem 2"] {
  width: 450;
  height: auto;
  border-radius: 8px;
  object-fit: contain;
}
